@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' ,sans-serif;
}

h1
{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2
{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4
{
    font-size: 20px;
    color: #222;
}

h6
{
    font-size: 12px;
    font-weight: 700;
}


p
{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1
{
    padding: 40px 80px;
}

.section-m1
{
    margin: 40px 0;
}

button.normal
{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body{
    background-size: cover;
    background-image: url(./Images/book_background.jpg);
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;

}
.container {
    background: rgb(255, 255, 255);
    width: 65%;
    height: 630px; /* Reduced the height by 100px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1.5rem;
    border-radius: 12px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.left form input
{
    font-weight: 580;
} 

.right form input
{
    font-weight: 580;
} 

.left{
	flex-basis: 55%;
}

.left a
{
    text-decoration: none;
    color: #000;
    font-size: 13px;
}


.right{
	flex-basis: 60%;
    margin-top: 0;
}

.right h3
{
    margin-top: 30px;
}


.right h3,
.left h3
{
    margin-left: 10px;
    padding-bottom: 10px;
}

.right table tbody td:nth-child(1)
{
    width: 30px;
}

.right table tbody td:nth-child(1) img
{
    width: 50%;
    border-radius: 8px;
    align-items: center;

}

.right table thead td:nth-child(1),
.right table thead td:nth-child(2),
.right table thead td:nth-child(3),
.right table thead td:nth-child(4)
{
    text-align: center;
}

.right table tbody td:nth-child(1),
.right table tbody td:nth-child(2),
.right table tbody td:nth-child(3),
.right table tbody td:nth-child(4)
{
    text-align: center;
    font-size: 13px;
}



.right table
{
	padding:  0.7rem;
    border-collapse: collapse;
    /* width: 100%; */
    margin-bottom: 0;
}

.right table thead tr td
{
    border: 1px solid #bec1be;
    padding: 10px;
    font-size: 15px;
}

.right table tbody tr td
{
    width: 100%;
    border: 1px solid #bec1be;
    padding: 3px;
    font-size: 15px;
}

.right table tr:nth-child(2)
{
    margin-bottom: 10px;
}

form{
	padding: 1rem;
}

h3{
	margin-top: 1rem;
	color:#000;
	}

form input[type="text"]{
	width: 100%;
	padding: 0.7rem 0.7rem;
	margin: 0.7rem 0;
    background-color: #fff;
	outline: none;
}

form select
{
    padding: 10px;
    text-decoration: none;
}

form select option
{
    padding: 10px;
}

form button.normal
{
    background-color: #ded5bf;
    height: 5.5vh;
    margin-left: 350px;
}

#zip{
	display: flex;
	margin-top: 0.5rem;
}


#zip .f2{
	padding-left: 5px;
}
