@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' ,sans-serif;
}

h2
{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h2
{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4
{
    font-size: 20px;
    color: #222;
}

h6
{
    font-size: 12px;
    font-weight: 700;
}


p
{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1
{
    padding: 40px 80px;
}

.section-m1
{
    margin: 40px 0;
}

button.normal
{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

html
{
    scroll-behavior: smooth;
}

.background
{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(6, 6, 6, 0.75)), url(./Images/bg2.png); */
    background-image:  url(./Images/bg3.png);
    background-size: cover;
    margin-top: 0px;
    background-position: center;
}

.navbar
{
    width: 100%;
    top:0;
    left:0;
    transition: 0.6s;;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #9aa5a5; */
    background-color: #ffffff;
    height:15px;
    padding: 40px 10px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.sub-menu-wrap
{
    position: absolute;
    top: 100%;
    right: 0;
    width: 340px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu
{
    max-height: 400px;
}

.sub-menu
{
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}

.user-info
{
    display: flex;
    align-items: center;
}

.user-info h3
{
    font-weight: 500;
}

.user-info img
{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr
{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p
{
    width: 100%;
}

.sub-menu-link img
{
    width: 40px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span
{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span
{
    transform: translateX(5px);
}

.sub-menu-link:hover p
{
    font-weight: 600;
}

.logo
{
    width: 100px;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 75%;
    
}

.logo1
{
    width: 100px;
    cursor: pointer;
    
}


.navbar ul li
{
    list-style: none;
    display: inline-flex;
    margin: 0 30px;
    position: relative;
    
}
.navbar ul li.user-pic
{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.navbar ul li a 
{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li i
{
    cursor: pointer;
    text-decoration: none;
    color: #000000; 
    transition: color 0.3s;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li:hover::after
{
    width: 40%;
}

.navbar ul li i:hover,
.navbar li i.active
.navbar li a:hover,
.navbar li a.active
{
    transition: 0.3s;
}

.navbar li a.active::after,
.navbar li a:hover::after
{
    content: "";
    width: 50%;
    height: 2px;
    background-color: #1a1919;
    position: absolute;
    bottom: -4px;
    left: 2px;
    transition: 0.3s;
}


/* Heading
#page-header
{
    background-image: url("./Images/b1.png");
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 90px;
}

#page-header h2,
#page-header p
{
    color: #fff;
} */



/* Contact */
#contact-details
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details
{
    width: 40%;
}

#contact-details .details span
{
    font-size: 12px;
}

#contact-details .details h2
{
    font-size: 25px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3
{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li
{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i
{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p
{
    margin: 0;
    font-size: 14px;
}

#contact-details .map
{
    width: 45%;
    height: 400px;
}

#contact-details .map iframe
{
    margin-top: 40px;
    width: 100%;
    height: 100%;
}

/*---------------Newsletter-------------------*/
    #newsletter
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        /* background-image: url("./Images/new1.png"); */
        background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(6, 6, 6, 0.75)), url(./Images/new1.png);
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-color: #cacace;

    }

    #newsletter h4
    {
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        padding-top: 20px;
    }

    #newsletter p
    {
        font-size: 24px;
        font-weight: 600;
        color: #acaaaa;
    }

    #newsletter .form
    {
        display: flex;
        width: 40%;

    }
    #newsletter input
    {
        height: 3.125rem;
        padding: 0 1.125rem;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        margin-top: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #newsletter button
    {
        background-color: #009688;
        color: #fff;
        white-space: nowrap;
        border-radius: 4px;
        height: 3.125rem;
        margin-top: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .span2
    {
        color: rgb(234, 178, 126);
    }

/*--------------------Footer------------------------ */

footer
{
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 60px;
}


footer .col
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: calc(30% - 5px);
}

footer .logo1
{
    margin-top: -40px;
    margin-bottom: 0px;
    padding-right: 0px;
    width: 150px;
    height: auto;
}

footer h4
{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p
{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a
{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow
{
    margin-top: 20px;
}

footer .follow i
{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img
{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img
{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover
{
    color: #009688;
}

footer .copyright
{
    width: 100%;
    text-align: center;
}