@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/* body
{
    background-color: #cce7d0;
} */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}


.section-p2 {
    padding: 40px 80px;
}

.section-p3 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.search-container {
    width: 400px;
    position: relative;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 12px 45px 12px 15px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.search-container input[type="text"]:focus {
    border-color: #007BFF;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.3);
}

.search-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-container button img {
    width: 22px;
    height: 22px;
}

#searchresult {
    margin-left: 440px;
    margin-top: 10px;
}

#searchresult h6 {
    background-color: #fff;
    padding: 10px;
}

.box {
    margin-left: 430px;
    height: 35px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0.3);
    background-color: #eae6e6;
}

.box input {
    width: 250px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.box button .fa.fa-search {
    color: #000;
    font-size: 18px;
    background: transparent;
    outline: none;
    border: none;
}

.navbar {
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.6s;
    ;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    height: 15px;
    padding: 40px 10px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    width: 340px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 40px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

.logo {
    width: 100px;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 75%;

}

.logo1 {
    width: 100px;
    cursor: pointer;

}


.navbar ul li {
    list-style: none;
    display: inline-flex;
    margin: 0 30px;
    position: relative;

}

.navbar ul li.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.navbar ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li i {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li:hover::after {
    width: 40%;
}

.navbar ul li i:hover,
.navbar li i.active .navbar li a:hover,
.navbar li a.active {
    transition: 0.3s;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: -4px;
    left: 2px;
    transition: 0.3s;
}

/* Header */

#page-header {
    /* background-image: url("./Images/b1.png"); */
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 90px;
}

#page-header h2,
#page-header p {
    color: #000000;
}

/* Select Menu */
.select-menu {
    width: 280px;
    margin: 30px;
    padding-left: 55px;
    padding-top: 10px;
}

.select-menu .select-btn {
    display: flex;
    height: 20px;
    background: #ffffff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: -80px;
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    margin-top: 10px;
    border-radius: 8px;
    background: #f5f8f8;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu .options a {
    text-decoration: none;
    color: #0d0e0e;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 45px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fafcfc;
}

.options .option:hover::after {
    width: 100%;
}

.options .option:hover,
.options .option.active {
    background: #f2f2f2;
}

.option i {
    font-size: 20px;
    margin-right: 12px;
    color: #614104;
}


/* Pagination */
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #454444;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}



/* Book */
#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#product1 .pro {

    width: 23%;
    min-width: 250px;
    padding: 10px 20px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    scale: 1.02;
}


#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro a {
    text-decoration: none;
}

#product1 .pro span {
    color: #252424;
    padding-bottom: 10px;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span .s1 {
    color: #1b1b1c;
    font-size: 15px;
}

#product1 .pro .des h5 {
    /* padding: 2px; */
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    /* padding: 7px; */
    font-size: 15px;
    font-weight: 700;
    color: #009688;

}

#product1 .pro button {
    margin-bottom: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #009688;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 17px;
    cursor: pointer;
}

/*---------------Newsletter-------------------*/
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* background-image: url("./Images/new1.png"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(6, 6, 6, 0.75)), url(./Images/new1.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-color: #cacace;

}

#newsletter h4 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    padding-top: 20px;
}

#newsletter p {
    font-size: 24px;
    font-weight: 600;
    color: #acaaaa;
}

#newsletter .form {
    display: flex;
    width: 40%;

}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.125rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    margin-top: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    height: 3.125rem;
    margin-top: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.span2 {
    color: rgb(234, 178, 126);
}

/*--------------------Footer------------------------ */

footer {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 60px;
}


footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: calc(30% - 5px);
}

footer .logo1 {
    margin-top: -40px;
    margin-bottom: 0px;
    padding-right: 0px;
    width: 150px;
    height: auto;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #009688;
}

footer .copyright {
    width: 100%;
    text-align: center;
}